<!DOCTYPE html>
<html>
  <head>
    <title>Instapound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/v4-shims.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.profile_placeholder = "<%= image_url('profile_placeholder.jpg') %>"
      window.logoName = "<%= image_url('logo_name.png') %>"
      window.signup_phone_pic = "<%= image_url('signup_phone_pic.png') %>"
      window.signup_image1 = "<%= image_url('signup_image1.jpg') %>"
      window.signup_image2 = "<%= image_url('signup_image2.jpg') %>"
      window.signup_image3 = "<%= image_url('signup_image3.jpg') %>"
      window.signup_image4 = "<%= image_url('signup_image4.jpg') %>"
      window.signup_image5 = "<%= image_url('signup_image5.jpg') %>"
    </script>
    <%= yield %>
  </body>
</html>
